1
00:00:00,000 --> 00:00:01,000
Dil ke kone mein ek raaz chhupa hai
Teri yaadon ka ek jahan basa hai
Har lamha tu paas mere ho
Phir bhi kyun lagta main akela hoon

2
00:00:01,000 --> 00:00:02,000
Tere bina adhoora sa main
Tere bina suna sa main
Tu jo mile toh rangon se bhar jaaye
Meri duniya ka har ek pal

3
00:00:02,000 --> 00:00:03,000
Raat ke taare tujhse roshan hain
Khwaabon ke raaste tujhse jud jaate
Meri har dhadkan tera naam le
Tere pyaar mein main jee raha hoon

4
00:00:03,000 --> 00:00:04,000
Tu door ho toh saansein ruk jaayein
Tere bina kya jeena
Tu paas ho toh khud ko paaoon
Tere hi ishq mein dooba

5
00:00:04,000 --> 00:00:05,000
Tere bina adhoora sa main
Tere bina suna sa main
Tu jo mile toh rangon se bhar jaaye
Meri duniya ka har ek pal